<script src="https://unpkg.com/jquery"></script>
<script src="https://surveyjs.azureedge.net/1.8.0/survey.jquery.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.8.0/survey.jquery.js"></script>
<link href="https://surveyjs.azureedge.net/1.8.0/modern.css" type="text/css" rel="stylesheet" />
<style>
    .sv-header__text {
        width: 500px;
    }

    .sv-footer {
        padding-top: 10px;
        margin-top: 0px;
    }

    .sv-btn {
        font-size: 1.5em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3" style="padding-bottom: 200px; padding-top: 500px;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-9 col-md-9 col-md-12">
                <div class="bradcam_text text-center">
                    <h3>Amazing Aussie</h3>
                    <p style="text-transform:none">
                        We would like to promote you with more fun and cool stuff related to Australia.
                        We believe these quizzes are a piece of cake for you.
                        Take it! You’ll get fantastic features about Australia.
                        Here are six topics below. Do you want to try one?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="project_details_info">
    <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 100px;">
            <div class="col-xl-10 col-lg-10">
                <div id="surveyElement" style="display:inline-block;width:100%;"></div>
                <div id="surveyResult" style="font-size:24px; font-family:sans-serif; color:black; padding-left: 50px;"></div>
                <input id="buttonMore" type="button" onclick="window.location='result'" value="Check the correct answer" class="sv-btn sv-footer__start-btn" />
                <div style="margin-top: 20px;">
                    <input id="buttonMore1" type="button" onclick="window.location='/Game/Animals'" value="Redo quiz" class="sv-btn sv-footer__start-btn" />
                </div>
                <div class="border_1px">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style=" text-align: center">
                                <input type="button" onclick="window.location.href='/Home/Quiz'" value="Exit Test" class="sv-btn sv-footer__start-btn" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/Animals.js"></script>