<div class="bradcam_area bradcam_bg_9">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 140px; margin-bottom:80px;">Fast Phrases Game</h3>
                    @*<a href="#myGame" class="boxed-btn3">Play Now</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-block">
    <!-- About Us -->
    <div class="section-area section-sp1">
        <div class="container">
            <div class="row d-flex flex-row-reverse">
                <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                    <div class="course-detail-bx" style="background: rgba(254, 245, 231,0.3);">
                        <div class="course-price">
                            <del>Hard</del>
                            <h4 class="price">Easy!</h4>
                        </div>
                        <div class="course-buy-now text-center">
            <a href="#myGame" class="boxed-btn3" style="border-radius:30px; padding-top:10px;padding-bottom:10px;">Play</a>
        </div>
                        <div class="teacher-bx">
                            <div class="teacher-info">
                                <div class="teacher-thumb">
                                    <img src="~/img/game/Fast Phrases.png" style="border-style:none;height:auto; max-width:100%; vertical-align:middle; box-sizing: border-box;" />
                                </div>
                                <div class="teacher-name">
                                    <h5>Fast Phrases</h5>
                                    <span>English Game</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-12" style="background: rgba(254, 245, 231,0.3);">
                    <div class="courses-post" id="myGame">
                        <div class="ttr-post-media media-effect">
                            <iframe src="https://www.gamestolearnenglish.com/fast-phrases/embed.html" scrolling="no"></iframe>
                        </div>
                        <div class="ttr-post-info">
                            <div class="ttr-post-title ">
                                <h2 class="post-title"style="padding-left: 20px;">Fast Phrases Game</h2>
                            </div>
                            <div class="ttr-post-text">
                                <p style="margin:0; line-height:28px;padding-left:20px">Fast Phrases game from "Games to Learn English" is a basic sentence formation game specifically for ESL to learn English.</p>
                            </div>
                        </div>
                    </div>
                    <div class="courese-overview" id="overview">
                        <h4 style="font-size:22px; line-height:28px; margin-bottom:15px; font-weight:500; color:#111111;font-family:rubik; margin-top:0;padding-left:20px;">Overview</h4>
                        <div class="row">
                            <div class="col-md-12 col-lg-4">
                                <ul class="course-features">
                                    <li> <strong>Topic</strong>:  English sentences</li>
                                    <li> <strong>Type</strong>:  Match and Select</li>
                                    <li> <strong>Sets of Contents</strong>:  28 sets</li>
                                    <li> <strong>Language</strong>:  English</li>
                                    <li> <strong>English level</strong>:  Basic</li>
                                </ul>
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <h5 class="m-b5">Game Description</h5>
                                <p style="line-height:28px;margin-bottom:24px; color:#505050;">This is a basic sentence formation game for learning English - specifically ESL (English as a second language). You look at the image and the click on the options to form a matching phrase.The idea behind this game is to allow players to practice making correct English sentences in an engaging way.</p>
                                <h5 class="m-b5">How to Play</h5>
                                <p style="line-height:28px;margin-bottom:24px;color:#505050;">An image is presented with a 3 to 5 possible options below. Players then click on the options to form a sentence that matches the meaning of the image. It is important that images are shown, as they provide the context or meaning that the constructed phrases are associated with.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
    </div>
<style>
    .content-block {
        background-image: url('../../img/game/FastPhraseB.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        font-size: 16px;
        font-weight: 400;
        color: darkslategrey;
        -webkit-font-smoothing: antialiased;
    }
    .section-sp1{
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .section-area{
        background-attachment: scroll !important;
        box-sizing: border-box;
        display: block;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .flex-row-reverse{
        flex-direction: row-reverse !important;
    }
    .d-flex{
        display:flex !important;
    }
    .row{
        display:flex;
        flex-wrap:wrap;
        margin-right:-15px;
        margin-left:-15px;
    }
    .m-b30{
        margin-bottom:30px;
    }
    .m-b5 {
        margin-bottom: 5px;
    }
    h5 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color:black;

        margin-top: 0;
    }
    .col-md-4{
        flex: 0 0 25%;
        max-width: 25%;
        position:relative;
        width:100%;
        min-height: 1px;
        padding-right:15px;
        padding-left:15px;
        display:block;
    }
    .course-detail-bx{
        padding:20px;
        border: 1px solid rgba(0,0,0,0.1);
        position:sticky;
        top:100px;
        display:block;
    }
    .course-price{
        text-align: center;
        padding:10px 0 20px;
    }
    .text-center{
        text-align: center !important;
    }
    .boxed-btn3 {
        cursor: pointer;
    }
    .radius-xl{
        -webkit-border-radius:100px;
    }
    .teacher-bx{
        border-top: 1px solid rgba(0,0,0,0.1);
        padding: 10px 20px;
        margin:20px -20px 0;
        border-width:1px 0 1px 0;
    }
    .teacher-info{
        display:flex;
        align-items:center;
    }
    .teacher-thumb{
        width:55px;
        height:55px;
        overflow: hidden;
        border-radius: 55px;
        margin-right: 15px;
        box-sizing: border-box;
    }
    .teacher-name h5{
        font-size:16px;
        margin-bottom:0px;
        line-height:18px;
        font-weight:400;
        color:#000;
    }
    .teacher-name span{
        font-size:13px;
        color:#6a6a6a;
    }
    .col-lg-4{
        flex:0 0 25%;
        max-width:25%;
        position:relative;
        width:100%;
        min-height:1px;
        padding-right:15px;
        padding-left:15px;
    }
    .col-md-8{
        flex:0 0 75%;
        max-width:75%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-12{
        position:relative;
        width:100%;
        min-height:1px;
        padding-right:15px;
        padding-left:15px;
    }
    .media-effect{
        position:relative;
        overflow:hidden;
        display: block;
        vertical-align:middle;
    }
    iframe {
        display: block;
        margin: 0;
        width: 100%;
        max-width: 800px;
        height: 550px;
        border-style:none;
    }
    .ttr-post-title{
        margin-bottom: 5px;
    }
    .post-title{
        font-size:35px;
        font-weight:500;
        margin-top:20px;
        margin-bottom:5px;
    }
    .ttr-post-text{
        margin-bottom:20px;
    }
    .course-features{
        margin:0;
        margin-bottom: 30px;
        padding:0;
        list-style:none;
        position:sticky;
        top:80px;
    }
    .course-features li{
        padding:15px 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        display: flex;
        font-size:14px;
        align-items:center;
    }
</style>