<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 100px;">About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- about_area_start  -->
<div class="about_area add_padding" style="padding-bottom: 50px;">
    <div class="container">
        <div class="border_1px">
            <div class="row align-items-center">
                <div class="col-xl-2  col-md-2">
                    <div class="about_thumb">
                        <div class="pattern_img d-none d-lg-block">
                            <img src="~/img/pattern/pattern.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 col-md-10">
                    <div class="about_info">
                        <h3>
                            Talk more about us:
                        </h3>
                        <p class="first_para">
                            Interscool has been developed with the aim of assisting students who are coming to Australia to undertake English training courses such as ELICOS (English Language Intensive Courses for Overseas Students).
                            There are a variety of reasons for enrolling in such courses, such as purely to improve their English literacy skills, as a pre-learning before enrolling in Universities, or to even look for jobs.
                            In addition to providing information regarding ELICOS students we also offer resources and interactive components to help students improve their English literacy skills.
                        </p>
                        <p>
                            We work together to design, create and produce the best resources to help students who
                            leave the comfort of their home countries behind and come to Australia to develop their English language skills.
                            We are proud of the work we do and firmly believe in our motto, ‘Never Stop Learning’!

                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about_area_end  -->
<!-- features_area_start -->
<div class="features_area add_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Our Targets</h3>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-student"></i>
                    </div>
                    <h3>Elementary Level</h3>
                    <p>
                        A couple of games to improve their grammer and Vocabulary.
                        Including quick and easy games to improve their listening,
                        reading, writing and speaking.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-placement"></i>
                    </div>
                    <h3>Intermediate Level</h3>
                    <p>
                        A couple of advanced level of games as mentioned in Elementary level.
                        That games are target to improve your listening, reading, writing and speaking.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-skills"></i>
                    </div>
                    <h3>More Australian culture</h3>
                    <p>
                        Here provides a lot of local Australian culture introduction,
                        more understanding of the local cultural traditions
                        will enable future immigrants to integrate into the new country more quickly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_area_end -->
<!-- service_area_start  -->
@*<div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Our Game Type introduction</h3>
                    </div>
                </div>
            </div>
            <div class="border_bottom_1px position-relative">
                <div class="pattern_img d-none d-xl-block">
                    <img src="img/pattern/pattern.png" alt="">
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="service_active owl-carousel">
                            <div class="single_service">
                                <div class="thumb">
                                    <img src="~/img/service/listening.jpg" alt="">
                                </div>
                                <div class="service_info">
                                    <a href="#">
                                        <h3>Listening Game</h3>
                                    </a>
                                    <p>There are lots of interesting listening games</p>
                                    <a class="d-flex align-items-center" href="#">
                                        More <i class="ti-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="single_service">
                                <div class="thumb">
                                    <img src="~/img/service/speaking.jpg" alt="">
                                </div>
                                <div class="service_info">
                                    <a href="#">
                                        <h3>Speaking Game</h3>
                                    </a>
                                    <p>There are lots of interesting Speaking games</p>
                                    <a class="d-flex align-items-center" href="#">
                                        More <i class="ti-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="single_service">
                                <div class="thumb">
                                    <img src="~/img/service/word.jpg" alt="">
                                </div>
                                <div class="service_info">
                                    <a href="#">
                                        <h3>Vocabulary and Grammer Game</h3>
                                    </a>
                                    <p>There are lots of interesting Word Games</p>
                                    <a class="d-flex align-items-center" href="#">
                                        More <i class="ti-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>*@
<!-- service_area_end  -->
