<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 100px;">English Games</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
    <div id="main-div">
        <div class="game-front-page">
            <a class="game-front-pane" id="fastVocab" href="~/Game/FastVocab">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Click and drap the images to match the words</p>
            </a>
            <a class="game-front-pane" id="compare" href="~/Game/Compare">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Click on the words to complete the phrases</p>
            </a>
        </div>
        <br />
        <div class="game-front-page">
            <a class="game-front-pane" id="pastTense" href="~/Game/PastTense">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Practice making sentences in past tense</p>
            </a>
            <a class="game-front-pane" id="futureTense" href="~/Game/FutureTense">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Practice making sentences in future tense</p>
            </a>
        </div>
        <br />
        <div class="game-front-page">
            <a class="game-front-pane" id="jobGame" href="~/Game/Job">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Guess the job and practice job language</p>
            </a>
            <a class="game-front-pane" id="food" href="~/Game/Food">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Listen and click on the correct images</p>
            </a>
        </div>
    </div>
</body>
<style>
    #main-div {
        border-color: #EFEBE9;
        border-width: 8px;
        border-style: solid;
        border-radius: 3.5em;
        box-shadow: 0 0 16px 2px #424242;
        z-index: 99;
        background-image: url('../../img/game/English Learning.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        position: relative;
        margin: 12px auto -30px auto;
        text-align: center;
        display: block;
        line-height: 1.15;
    }

    .a:-webkit-any {
        color: -webkit-link;
        cursor: pointer;
    }

    .game-front-page {
        display: block;
    }

    .game-front-pane:link {
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
    }

    .game-front-pane {
        background-image: url('../../img/game/blackboard.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        border-color: #EFEBE9;
        border-width: 14px;
        border-style: solid;
        box-shadow: 0 0 2px 2px #BDC3C7,inset 0 0 2px #D7DBDD;
        border-radius: 3em;
        margin: 20px 2% 20px 2%;
        vertical-align: top;
        display: inline-block;
    }

    #fastVocab .game-top-title {
        background-position: -800px 0px;
    }

    #compare .game-top-title {
        background-position: -200px 0;
    }

    #pastTense .game-top-title {
        background-position: 0 -67px;
    }

    #futureTense .game-top-title {
        background-position: -800px -67px;
    }

    #jobGame .game-top-title {
        background-position: -1000px 0;
    }

    #food .game-top-title {
        background-position: -1000px -67px;
    }

    .game-top-title {
        background: url(https://www.gamestolearnenglish.com/ims/titlesTop.1.7.png);
        width: 200px;
        height: 67px;
        margin: 16px auto 6px auto;
        display: block;
    }

    #fastVocab .game-thumb {
        background-position: -600px 0px;
    }

    #compare .game-thumb {
        background-position: -150px 0;
    }

    #pastTense .game-thumb {
        background-position: 0 -150px;
    }

    #futureTense .game-thumb {
        background-position: -600px -150px;
    }

    #jobGame .game-thumb {
        background-position: -750px 0;
    }

    #food .game-thumb {
        background-position: -750px -150px;
    }

    .game-thumb {
        background: url(https://www.gamestolearnenglish.com/ims/thumbsTop.1.5.png);
        width: 150px;
        height: 150px;
        border: 3px solid #EFEBE9;
        display: inline-block;
        vertical-align: top;
        margin: 10px 8px 18px 8px;
        border-radius: 1.3em;
    }

    .front-page-description {
        margin: 15px 16px 20px 8px;
        line-height: 1.4em;
        width: 170px;
        height: 72px;
        text-align: left;
        display: inline-block;
        color: #FBFCFC;
        font-family: Arial,Arial, Helvetica, sans-serif;
        font-size: 1.1em;
    }

    body {
        background-color: #ABEBC6;
        background-image: url('../../img/game/English Learning-1.jpg');
        background-repeat: no-repeat;
        background-position: initial;
        background-size: cover;
    }
</style>