<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 100px;">English Games</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<body>
    <div id="main-div">
        <div class="game-front-page">
            <a class="game-front-pane" id="food" href="~/Game/Food">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Listen and click on the correct food images.</p>
            </a>
            <a class="game-front-pane" id="jobGame" href="~/Game/Job">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Guess the job and practice job language.</p>
            </a>
        </div>
        <br />
        <div class="game-front-page">
            <a class="game-front-pane" id="fastPhrases" href="~/Game/FastPhrases">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Describe the images by making sentences.</p>
            </a>
            <a class="game-front-pane" id="weather" href="~/Game/Weather">
                <div class="game-top-title"></div>
                <div class="game-thumb"></div>
                <p class="front-page-description">Guess the job and practice job language.</p>
            </a>
        </div>
        @* <br />
            <div class="game-front-page">
                <a class="game-front-pane" id="jobGame" href="~/Game/Job">
                    <div class="game-top-title"></div>
                    <div class="game-thumb"></div>
                    <p class="front-page-description">Guess the job and practice job language</p>
                </a>
                <a class="game-front-pane" id="food" href="~/Game/Food">
                    <div class="game-top-title"></div>
                    <div class="game-thumb"></div>
                    <p class="front-page-description">Listen and click on the correct images</p>
                </a>
            </div>*@
    </div>
</body>
<style>
    #main-div {
        border-color: #F6DDCC;
        border-width: 2px;
        border-style: solid;
        border-radius: 1.5em;
        box-shadow: 0 0 16px 2px #EDBB99;
        z-index: 99;
        background-image: url('../../img/game/English Learning.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
        line-height: 1.15;
    }

    .a:-webkit-any {
        color: -webkit-link;
        cursor: pointer;
    }

    .game-front-pane:link {
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
        outline-color: initial;
        outline-style: none;
        outline-width: initial;
    }

    .game-front-pane {
        background-image: url('../../img/game/woodback.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        border-color: #F6DDCC;
        border-width: 8px;
        border-style: solid;
        box-shadow: 0 0 2px 2px #EDBB99,inset 0 0 2px #D7DBDD;
        border-radius: 3.5em;
        margin: 20px 2% 40px 2%;
        vertical-align: top;
        display: inline-block;
    }

    #fastPhrases .game-top-title {
        background-image: url('../../img/game/Fast Phrases.png');
        background-size: contain;
    }

    #weather .game-top-title {
        background-image: url('../../img/game/Weather.png');
        background-size: contain;
        width: 190px;
    }

    #jobGame .game-top-title {
        background-image: url('../../img/game/Job.png');
        background-size: contain;
    }

    #food .game-top-title {
        background-image: url('../../img/game/Food.png');
        background-size: contain;
    }

    .game-top-title {
        width: 200px;
        height: 67px;
        margin: 16px auto 6px auto;
        display: block;
    }

    #fastPhrases .game-thumb {
        background-image: url('../../img/game/FastPhrases-thumb.png');
        background-size: contain;
    }

    #weather .game-thumb {
        background-image: url('../../img/game/Weather-thumb.png');
        background-size: contain;
    }

    #jobGame .game-thumb {
        background-image: url('../../img/game/Job-thumb.png');
        background-size: contain;
    }

    #food .game-thumb {
        background-image: url('../../img/game/Food-thumb.png');
        background-size: contain;
    }

    .game-thumb {
        width: 150px;
        height: 150px;
        border: 1px solid #F6DDCC;
        display: inline-block;
        vertical-align: top;
        margin: 10px 8px 18px 8px;
        border-radius: 1.3em;
    }

    .front-page-description {
        margin: 15px 16px 20px 8px;
        line-height: 1.4em;
        width: 170px;
        height: 72px;
        text-align: left;
        display: inline-block;
        color: #FBFCFC;
        font-family: Arial,Arial, Helvetica, sans-serif;
        font-size: 1.1em;
    }

    body {
        background-color: #ABEBC6;
        background-image: url('../../img/game/English Learning-1.jpg');
        background-repeat: no-repeat;
        background-position: initial;
        background-size: cover;
    }
</style>