@{
    ViewBag.Title = "Home Page";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>
                                Your Bright Future is Our Mission
                            </h3>
                            <p>Build Your Own English Game World</p>
                            <a href="services.html" class="boxed-btn3">English Level Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>
                                Your Bright Future is Our Mission
                            </h3>
                            <p>Build Your Own English Game World</p>
                            <a href="services.html" class="boxed-btn3">English Level Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>
                                Your Bright Future is Our Mission
                            </h3>
                            <p>Build Your Own English Game World</p>
                            <a href="services.html" class="boxed-btn3">English Level Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- features_area_start -->
<div class="features_area">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-student"></i>
                    </div>
                    <h3>Elementary Level</h3>
                    <p>
                        A couple of games to improve their grammer and Vocabulary.
                        Including quick and easy games to improve their listening,
                        reading, writing and speaking.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-placement"></i>
                    </div>
                    <h3>Intermediate Level</h3>
                    <p>
                        A couple of advanced level of games as mentioned in Elementary level.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_feature text-center">
                    <div class="icon">
                        <i class="flaticon-skills"></i>
                    </div>
                    <h3>The Australian culture</h3>
                    <p>
                        There are many variations of passages of lorem Ipsum available, but the majority have
                        suffered alteration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features_area_end -->
<!-- about_area_start  -->
<div class="about_area">
    <div class="container">
        <div class="border_1px">
            <div class="row align-items-center">
                <div class="col-xl-6  col-md-6">
                    <div class="about_thumb">
                        <img src="~/img/about/graph.png" alt="">
                        <div class="pattern_img d-none d-lg-block">
                            <img src="img/pattern/pattern.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    @*put the graph here!*@
                    @*                        <div class="about_info">
                            <h3>
                                We Serve all of your <br>
                                Construction Services
                            </h3>
                            <p class="first_para">
                                “Construction is a full service construction company offering
                                building solutions from start to finish. Our staff has been operating on NYC for ten
                                years.
                            </p>
                            <p>
                                There are many variations of passages of lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable.
                            </p>
                            <a href="about.html" class="boxed-btn3">About Us</a>
                        </div>*@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- about_area_end  -->
<!-- service_area_start  -->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Our Game Type introduction</h3>
                </div>
            </div>
        </div>
        <div class="border_bottom_1px position-relative">
            <div class="pattern_img d-none d-xl-block">
                <img src="img/pattern/pattern.png" alt="">
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="service_active owl-carousel">
                        <div class="single_service">
                            <div class="thumb">
                                <img src="~/img/service/listening.jpg" alt="">
                            </div>
                            <div class="service_info">
                                <a href="#">
                                    <h3>Listening Game</h3>
                                </a>
                                <p>There are lots of interesting listening games</p>
                                <a class="d-flex align-items-center" href="#">
                                    More <i class="ti-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="single_service">
                            <div class="thumb">
                                <img src="~/img/service/speaking.jpg" alt="">
                            </div>
                            <div class="service_info">
                                <a href="#">
                                    <h3>Speaking Game</h3>
                                </a>
                                <p>There are lots of interesting Speaking games</p>
                                <a class="d-flex align-items-center" href="#">
                                    More <i class="ti-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="single_service">
                            <div class="thumb">
                                <img src="~/img/service/word.jpg" alt="">
                            </div>
                            <div class="service_info">
                                <a href="#">
                                    <h3>Vocabulary and Grammer Game</h3>
                                </a>
                                <p>There are lots of interesting Word Games</p>
                                <a class="d-flex align-items-center" href="#">
                                    More <i class="ti-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- service_area_end  -->
<!-- chose_us_area start -->
<div class="chose_us_area chose_bg_1">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-md-8">
                <div class="chose_info">
                    <h3>Why Choose Us?</h3>
                    <p class="lasrge_text">
                        Students who come to Australia to undertake ELICOS courses intend to improve or develop their English skills in order to continue their stay in Australia or for many other various reasons.
                        They may face difficulties as they come from different cultural backgrounds and may not have resources beyond what is available at their institutions.
                    </p>
                    <p>
                        Provides support beyond the classroom courses to help improve their English literacy skills.
                    </p>
                    <div class="icon_video">
                        <a class="popup-video" href="https://www.youtube.com/watch?v=HAnw168huqA&t=2840s">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- chose_us_area end -->