<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9 col-md-9 col-md-12">
                    <div class="slider_text text-center" style="margin-top: 160px;">
                        <h3 style="font-size: 40px">
                            English Proficiency level in Australia
                        </h3>
                        <p>
                            Do you know what your country’s English Proficiency level is in Australia?
                            Scroll down to see more of some interesting facts!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<div class="about_area">
    <div class="container">
        <div class="border_1px">
            <div class="text-xl-center">
                <h3>
                    Select the country you are from and see the level through this interesting graph.
                </h3>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-3  col-md-3">
                    <div class="pattern_img d-none d-lg-block">
                        <h5 style="line-height: 3em;">
                            English is a tool to communicate with others who are from different countries.
                            This graph will show you how well people from different countries use English as the main communication language in Australia.
                            <i class="fa fa-hand-o-right" style="font-size:48px"></i>
                        </h5>
                    </div>
                </div>
                <div class="col-xl-9 col-md-9" style="padding-bottom: 50px;">
                    <div class='tableauPlaceholder' id='viz1600001677527' style='position: relative'>
                        <noscript>
                            <a href=''>
                                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IE_graph3&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                            </a>
                        </noscript>
                        <object class='tableauViz' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='IE_graph3&#47;Dashboard1' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IE_graph3&#47;Dashboard1&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1600001677527');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        if (divElement.offsetWidth > 800) {
                            vizElement.style.width = '800px';
                            vizElement.style.height = '627px';
                        } else if (divElement.offsetWidth > 500) {
                            vizElement.style.width = '800px';
                            vizElement.style.height = '627px';
                        } else {
                            vizElement.style.width = '100%';
                            vizElement.style.height = '727px';
                        }
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
                    @*<div class='tableauPlaceholder' id='viz1599046523284' style='position: relative'>
                            <noscript>
                                <a href='#'>
                                    <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IE_graph&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                                </a>
                            </noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='embed_code_version' value='3' />
                                <param name='name' value='IE_graph&#47;Dashboard1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IE_graph&#47;Dashboard1&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='language' value='en' />
                                <param name='filter' value='publish=yes' />
                            </object>
                        </div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1599046523284');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            if (divElement.offsetWidth > 800) {
                                vizElement.style.width = '800px';
                                vizElement.style.height = '627px';
                            } else if (divElement.offsetWidth > 500) {
                                vizElement.style.width = '800px';
                                vizElement.style.height = '627px';
                            } else {
                                vizElement.style.width = '100%';
                                vizElement.style.height = '727px';
                            }
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                        </script>*@
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="container text-xl-center" style="width: 730px;">
                    <a style="font-weight: bold;">
                        By playing with the graph, you have a general idea of the proficiency level of English from your country.
                        Do you want to know your English proficiency level？
                    </a>
                </div>
                <div class="container text-xl-center" style="padding-top: 25px;">
                    <a href="/Home/Test" class="btn header-btn text-xl-center">English Level Test</a>
                </div>
            </div>
        </div>
    </div>
</div>