
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container1 {
        position: relative;
        width: 50%;
    }

    .image1 {
        display: block;
        width: 362px;
        height: 270px;
    }

    .overlay1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 362px;
        height: 270px;
        opacity: 0;
        transition: .5s ease;
        background-color: powderblue;
    }

    .container1:hover .overlay1 {
        opacity: 1;
    }

    .text1 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .container2 {
        position: relative;
        width: 50%;
    }

    .image2 {
        display: block;
        width: 362px;
        height: 270px;
    }

    .overlay2 {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 362px;
        height: 0;
        transition: .5s ease;
        background-color: powderblue;
    }

    .container2:hover .overlay2 {
        bottom: 0;
        height: 100%;
    }

    .text2 {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3" style="padding-bottom: 200px; padding-top: 500px;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-9 col-md-9 col-md-12">
                <div class="bradcam_text text-center">
                    <h3>Amazing Aussie</h3>
                    <p style="text-transform:none">
                        We would like to promote you with more fun and cool stuff related to Australia. 
                        We believe these quizzes are a piece of cake for you. 
                        Take it! You’ll get fantastic features about Australia. 
                        Here are six topics below. Do you want to try one?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- service_area_start  -->

<div class="service_area add_padding" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="container1">
                        <img src="~/img/service/slang.png" alt="Avatar" class="image1">
                        <div class="overlay1">
                            <a href="/Game/Slang">
                                <div class="text1">
                                    <p class="text-center" style="font-size:25px;font-weight:bold;">Aussie Slang</p>
                                    <p align="justify" style="width: 300px; height: 200px;">
                                        Awesome Aussie Slang Words You’ll Hear Everywhere in Straya! How well do you know the aussie slang?
                                        We have developed a language based around abbreviations, and a lot of slang words which you can quickly learn through these fun questions.
                                    </p>
                                </div>
                             </a>
                        </div>
                    </div>
                    @*                    <div class="thumb">
                            <img src="~/img/service/slang.png" id="img">
                        </div>*@
                    @*                    <div class="service_info">
                            <a href="#">
                                <h3>Aussie Slang</h3>
                            </a>
                        </div>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="container1">
                        <img src="~/img/service/sport22.jpg" alt="Avatar" class="image1">
                        <div class="overlay1">
                            <a href="/Game/Sports">
                                <div class="text1">
                                    <p class="text-center" style="font-size:22px;font-weight:bold;">Sports</p>
                                    <p align="justify" style="width: 320px; height: 220px;font-size:16px">
                                        Australia has an extremely rich and highly competitive sport culture and history.
                                        Soccer, Australian Rules Football, Cricket, Rugby, Tennis and many other sports have been a mainstay of the Australian culture for many years.
                                        Get yourself familiarized with some of the sports in Australia with these questions.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
@*                    <div class="thumb">
                        <img src="~/img/service/sport22.jpg">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Sports</h3>
                        </a>
                        <p align="justify">
                            Australia has an extremely rich and highly competitive sport culture and history.
                            Soccer, Australian Rules Football, Cricket, Rugby, Tennis and many other sports have been a mainstay of the Australian culture for many years.
                            Get yourself familiarized with some of the sports in Australia with these questions we have curated for you.
                        </p>
                    </div>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="container1">
                        <img src="~/img/service/cuisine.png" alt="Avatar" class="image1">
                        <div class="overlay1">
                            <a href="/Game/Cuisine">
                                <div class="text1">
                                    <p class="text-center" style="font-size:25px;font-weight:bold;">Cuisine</p>
                                    <p align="justify" style="width: 300px; height: 200px;">
                                        Australians love eating good food!
                                        Aussie meals today are more diverse than ever, inspired by aisles of cheap ingredients,
                                        a platter of cultures and a selection of rejuvenated food interest.
                                        We built these questions specifically for you. Check them out!
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
@*                    <div class="thumb">
                        <img src="~/img/service/cuisine.png" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Cuisine</h3>
                        </a>
                        <p align="justify">
                            Is Australia having its own special cuisine? Can you ace this quiz on Aussie food?
                            Australians love eating good food!
                            Aussie meals today are more diverse than ever, inspired by aisles of cheap ingredients,
                            a platter of cultures and a selection of rejuvenated food interest.
                            We built these questions specifically for you. Check them out!
                        </p>
                    </div>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="container1">
                        <img src="~/img/service/animal.png" alt="Avatar" class="image1">
                        <div class="overlay1">
                            <a href="/Game/Animals">
                                <div class="text1">
                                    <p class="text-center" style="font-size:25px;font-weight:bold;">Animals</p>
                                    <p align="justify" style="width: 300px;height: 220px;">
                                        There are many wonderful creatures in Australia.
                                        In addition to some common animals, Australia has some species unique.
                                        Koalas and Kangaroos are well-known and loved all over the world.
                                        Some animals you can only see in Australia.
                                        Check the cutest species here.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
@*                    <div class="thumb">
                        <img src="~/img/service/animal.png" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Animals</h3>
                        </a>
                        <p align="justify">
                            Are you an animal lover? There are many wonderful creatures in Australia.
                            In addition to some common animals, Australia has some species unique.
                            Koalas and Kangaroos are well-known and loved all over the world.
                            Some animals you can only see in Australia.
                            Do you want to know more about them? Check the cutest species and fun facts out.
                        </p>
                    </div>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="container1">
                        <img src="~/img/service/Geography.jpg" alt="Avatar" class="image1">
                        <div class="overlay1">
                            <a href="/Game/Geography">
                                <div class="text1">
                                    <p class="text-center" style="font-size:25px;font-weight:bold;">Geography</p>
                                    <p align="justify" style="width: 300px; height: 220px;">
                                        Being the 6th largest country in the world and the only one to cover an entire continent,
                                        Australia is a very diverse and unique country, with unique features to its biodiversity
                                        that is not seen anywhere else in the world.
                                        Take this quiz to learn the interesting facts about this ‘island continent’.
                                    </p>
                                </div>
                             </a>
                        </div>
                    </div>
@*                    <div class="thumb">
                        <img src="~/img/service/Geography.jpg" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Geographic</h3>
                        </a>
                        <p align="justify">
                            Being the 6th largest country in the world and the only one to cover an entire continent,
                            Australia is a very diverse and unique country, with unique features to its biodiversity
                            that is not seen anywhere else in the world.
                            Take this quiz to learn more about some of the interesting facts about this ‘island continent’.
                        </p>
                    </div>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="container1">
                        <img src="~/img/service/Festivals.jpg" alt="Avatar" class="image1">
                        <div class="overlay1">
                            <a href="/Game/Festival">
                                <div class="text1">
                                    <p class="text-center" style="font-size:25px;font-weight:bold;">Festivals</p>
                                    <p align="justify" style="width: 300px; height: 200px;">
                                        Whether you're a backpacker,a student studying abroad, or currently on a working holiday visa,
                                        you should attend festivals with local characteristics.
                                        For life and learning people here, quickly into the local customs and make friends, do not miss!
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    @*<div class="thumb">
                        <img src="~/img/service/Festivals.jpg" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Festivals</h3>
                        </a>
                        <p align="justify">
                            Whether you're a native Australian, a backpacker, a student studying abroad, or currently on a working holiday visa,
                            you'll want to attend festivals with local characteristics.
                            For life and learning people here must not miss, because you can quickly into the local customs,
                            this is a more easy to make a lot of friends, do not miss.
                        </p>
                    </div>*@
                </div>
            </div>
        </div>

    </div>
</div>
<!-- service_area_end  -->
<!-- make image clickable  -->
<script>
        var images = document.getElementsByTagName("img");
        for (var i = 0; i < images.length; i++) {
            var image = images[i];
            image.onclick = function () {
                window.location.href = 'Quiz';
            };
        }
    </script>
