
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3" style="padding-bottom: 200px; padding-top: 500px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Amazing Aussie</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- service_area_start  -->
<div class="service_area add_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/img/service/slang.png" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Aussie Slang</h3>
                        </a>
                        <p align="justify">
                            Awesome Aussie Slang Words You’ll Hear Everywhere in Straya! How well do you know the aussie slang?
                            Aussies—love to shorten their words. Well this is what it is like in Australia. We have developed a language based around abbreviations, and a lot of slang words which you can quickly learn through these fun questions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/img/service/sport22.jpg" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Sports</h3>
                        </a>
                        <p align="justify">
                            Australia has an extremely rich and highly competitive sport culture and history. 
                            Soccer, Australian Rules Football, Cricket, Rugby, Tennis and many other sports have been a mainstay of the Australian culture for many years.
                            Get yourself familiarized with some of the sports in Australia with these questions we have curated for you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/img/service/cuisine.png" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Cuisine</h3>
                        </a>
                        <p align="justify">
                            Is Australia having its own special cuisine? Can you ace this quiz on Aussie food?
                            Australians love eating good food!
                            Aussie meals today are more diverse than ever, inspired by aisles of cheap ingredients,
                            a platter of cultures and a selection of rejuvenated food interest.
                            We built these questions specifically for you. Check them out!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/img/service/animal.png" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Animals</h3>
                        </a>
                        <p align="justify">
                            Are you an animal lover? There are many wonderful creatures in Australia. 
                            In addition to some common animals, Australia has some species unique. 
                            Koalas and Kangaroos are well-known and loved all over the world. 
                            Some animals you can only see in Australia. 
                            Do you want to know more about them? Check the cutest species and fun facts out.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/img/service/Geography.jpg" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Geographic</h3>
                        </a>
                        <p align="justify">
                            Being the 6th largest country in the world and the only one to cover an entire continent, 
                            Australia is a very diverse and unique country, with unique features to its biodiversity 
                            that is not seen anywhere else in the world. 
                            Take this quiz to learn more about some of the interesting facts about this ‘island continent’.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/img/service/Festivals.jpg" id="img">
                    </div>
                    <div class="service_info">
                        <a href="#">
                            <h3>Festivals</h3>
                        </a>
                        <p align="justify">
                            Whether you're a native Australian, a backpacker, a student studying abroad, or currently on a working holiday visa, 
                            you'll want to attend festivals with local characteristics. 
                            For life and learning people here must not miss, because you can quickly into the local customs, 
                            this is a more easy to make a lot of friends, do not miss.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- service_area_end  -->
<script>
    var images = document.getElementsByTagName("img");
    for (var i = 0; i < images.length; i++) {
        var image = images[i];
        image.onclick = function () {
            window.location.href = 'Quiz';
        };
    }
</script>
