<div class="bradcam_area bradcam_bg_3" style="padding-bottom: 200px; padding-top: 500px;">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-9 col-md-9 col-md-12">
                <div class="bradcam_text text-center">
                    <h3>Amazing Aussie</h3>
                    <h3>
                        Aussie Slang
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

