<!-- bradcam_area  -->
<script src="https://unpkg.com/jquery"></script>
<script src="https://surveyjs.azureedge.net/1.8.0/survey.jquery.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.8.0/survey.jquery.js"></script>
<link href="https://surveyjs.azureedge.net/1.8.0/modern.css" type="text/css" rel="stylesheet" />

<div class="bradcam_area bradcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 100px;">Test</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div id="surveyElement" style="display:inline-block;width:100%;"></div>
<div id="surveyResult"></div>
<script type="text/javascript" src="~/js/index.js"></script>
