<!-- bradcam_area  -->
<script src="https://unpkg.com/jquery"></script>
<script src="https://surveyjs.azureedge.net/1.8.0/survey.jquery.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.8.0/survey.jquery.js"></script>
<link href="https://surveyjs.azureedge.net/1.8.0/modern.css" type="text/css" rel="stylesheet" />
<style>
    .sv-header__text {
        width: 800px;
    }

    .sv-footer {
        padding-top: 10px;
        margin-top: 0px;
    }

    .sv-btn {
        font-size: 1.5em;
    }
        .sv-btn.sv-footer__start-btn {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 22px;
        }
        .sv-btn.sv-footer__next-btn {
            padding-top: 5px;
            padding-bottom: 8px;
            padding-left: 40px;
            padding-right: 40px;
            font-size:21px;
        }
        .sv-btn.sv-footer__complete-btn {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 22px;
        }
        .sv-btn.sv-footer__prev-btn {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 22px;
        }
        .sv-btn.sv-footer__preview-btn {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 21px;
        }
        .sv-btn.sv-footer__edit-btn {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 22px;
        }
    .sv-row.sv-clearfix {
        padding-bottom: 10px;
    }
    span {
        font-size: 20px;
        color: black;
        font-family: sans-serif;
    }
</style>
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 50px; font-size:40px;">English Level Test</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="project_details_info">
    <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 100px;">
            <div class="col-xl-10 col-lg-10">
                <div id="surveyElement" style="display:inline-block;width:100%;"></div>
                <div id="surveyResult" style="font-size:24px; font-family:sans-serif; color:black; padding-left: 50px;"></div>
                <div style=" text-align: center">
                    <input id="buttonMore" type="button" onclick="window.location='Test'" value="Try again" class="sv-btn sv-footer__start-btn"/>
                </div>
                <div style=" text-align: center">
                    <input id="buttonMore1" type="button" onclick="window.location='/CulturalQuiz/Result'" value="Correct Answer" class="sv-btn sv-footer__start-btn" style="margin-top: 15px;"/>
                </div>
                <div class="border_1px" style="padding-top: 10px;"> 
                    <div class="row">
                        <div class="col-lg-12">
                            <div style=" text-align: center;">
                                <input id="buttonMore2" type="button" onclick="window.location.href='EnglishGame'" value="Learn from English Game" class="sv-btn sv-footer__start-btn" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div style=" text-align: center;">
                                <input type="button" onclick="window.location.href='LearnEnglish'" value="Exit Test" class="sv-btn sv-footer__start-btn" style="margin-top: 10px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="~/js/index.js" ></script>
