<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9 col-md-9 col-md-12">
                    <div class="slider_text text-center">
                        <h3>
                            Trends
                        </h3>
                        <p>
                            Charts are a great tool because they communicate informally visually.
                            Scroll down to see more of some interesting facts!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- about_area_start  -->
<div class="about_area">
    <div class="container">
        <div class="border_1px">
            <div class="text-xl-center">
                <h3>
                    Look how many international students are studying in Australia!!
                    Check this out.<br />
                </h3>
                <h4>
                    Select the country you are from, the state you are interested in Aus and the year to see the trends.
                </h4>
            </div>
            <div class="row align-items-center">
                <div class="col-xl-2  col-md-2">
                    <div class="pattern_img d-none d-lg-block">
                        <h5 style="line-height: 3em;">
                            This bar chart shows you international students from different countries enrolled in different education sectors in Australia.
                            <i class="fa fa-hand-o-right" style="font-size:48px"></i>
                        </h5>
                    </div>
                </div>
                <div class="col-xl-10 col-md-10" style="padding-bottom: 50px;">
                    <div class='tableauPlaceholder' id='viz1599918954566' style='position: relative'>
                        <noscript>
                            <a href=''>
                                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IE_Enrolment&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                            </a>
                        </noscript>
                        <object class='tableauViz' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='' />
                            <param name='name' value='IE_Enrolment&#47;Dashboard1' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='yes' />
                            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IE&#47;IE_Enrolment&#47;Dashboard1&#47;1.png' />
                            <param name='animate_transition' value='yes' />
                            <param name='display_static_image' value='yes' />
                            <param name='display_spinner' value='yes' />
                            <param name='display_overlay' value='yes' />
                            <param name='display_count' value='yes' />
                            <param name='language' value='en' />
                            <param name='filter' value='publish=yes' />
                        </object>
                    </div>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1599918954566');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        if (divElement.offsetWidth > 800) {
                            vizElement.style.width = '800px';
                            vizElement.style.height = '627px';
                        } else if (divElement.offsetWidth > 500) {
                            vizElement.style.width = '800px';
                            vizElement.style.height = '627px';
                        } else {
                            vizElement.style.width = '100%';
                            vizElement.style.height = '727px';
                        }
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="container text-xl-center" style="width: 730px;">
                    <a style="font-weight: bold;"> As you may see, the Higher education sector has the most international students. Do you want to know more about this sector? Go and Check the university list.</a>
                </div>
                <div class="container text-xl-center" style="padding-top: 25px;">
                    <a href="/UniList/Index" class="btn header-btn text-xl-center">University List</a>
                </div>
            </div>
        </div>
    </div>
</div>