<style>
    tr.even {
        background-color: #F5F5F5 !important;
    }

    .mapboxgl-popup {
        color: black;
    }

    .tooltip1 {
        position: relative;
        display: inline-block;
    }

        .tooltip1 .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    label {
        color: black;
        font-weight:bold;
    }
</style>
<div class="bradcam_area bradcam_bg_4" style="padding-bottom:100px; ">
    <div class="container">
        <div class="row" style="padding-bottom:80px;">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 50px;font-size:40px;">Australian Universities</h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p>
                Still struggling with college choices?<br>
                Don’t know which University to apply to?<br>
                We will introduce some popular public and private universities and education institutions to you.<br>
                Just choose from the dropdown list, you’ll get the recommended universities.
            </p>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- slider_area_end -->
<div style="background-image: url('../../img/slider_background/sky.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover;height: auto;padding-bottom: 20px;">
    <div class="container" style="background: rgba(55, 108, 139,0.5);">
        <div class="about_area add_padding" style=" padding-top: 80px; ">
            <div class="container">
                <div class="border_1px" style="border-width:0px">
                    <div class="row align-items-center justify-content-center" style="padding-bottom: 50px;">
                        <h4 style="padding-top: 10px; padding-right: 20px; color:wheat;font-size: x-large;">Select a State:</h4>
                        <select id="dropdown">
                            <option value="">All</option>
                            <option value="Northern Territory">Northern Territory</option>
                            <option value="New South Wales">New South Wales</option>
                            <option value="Victoria">Victoria</option>
                            <option value="Queensland">Queensland</option>
                            <option value="Western Australia">Western Australia</option>
                            <option value="South Australia">South Australia</option>
                            <option value="Australian Capital Territory">Australian Capital Territory</option>
                            <option value="Tasmania">Tasmania</option>
                        </select>
                        <h4 style="padding-top: 10px; padding-right: 20px; margin-left: 80px;color:wheat;font-size: x-large;">Select a Type:</h4>
                        <select id="dropdown1">
                            <option value="">All</option>
                            <option value="Private">Private</option>
                            <option value="Public">Public</option>
                        </select>
                    </div>
                    <div style="width:90%; margin:0 auto;background:rgba(255, 255, 255,0.7)">
                        <table id="myTable" style="background-color:wheat;width:100%">
                            <thead style="background-color: #ecc754; ">
                                <tr>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                    <th>Ranking</th>
                                    <th>Website</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    @*                    <div id="m" class="container" style="padding-top:20px;">
                            <div class="text-center" style="margin-top: 20px;">
                                <h3 style="padding-top: 20px; padding-right: 20px;color:wheat;font-weight: bold;font-size: x-large;">Find the distance between you and your favourite University: </h3>
                                <h4 style="padding-top: 0px; padding-right: 20px;color:wheat;font-weight: bold;font-size: x-large;">Click above address of Uni List might help below copy function</h4>
                                <input type="text" id="myText">
                                <div class="tooltip1">
                                    <button onclick="Clear()" onmouseout="outFunc()" class="btn-primary">
                                        <span class="tooltiptext" id="myTooltip" style=" margin-left: 0px; margin-top: 0px; bottom: 0px; top: 40px; height: 30px; width: 150px;">Copy to clipboard</span>
                                        Copy location
                                    </button>
                                </div>
                            </div>
                            <div id="map" style="height:500px"></div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="container">
        <div class="row align-items-center justify-content-center">
            <h4 style="padding-top: 10px; padding-right: 20px;">Select one State:</h4>
            <select id="dropdown">
                <option value="">All</option>
                <option value="Northern Territory">Northern Territory</option>
                <option value="New South Wales">New South Wales</option>
                <option value="Victoria">Victoria</option>
                <option value="Queensland">Queensland</option>
                <option value="Western Australia">Western Australia</option>
                <option value="South Australia">South Australia</option>
                <option value="Australian Capital Territory">Australian Capital Territory</option>
                <option value="Tasmania">Tasmania</option>
            </select>
            <h4 style="padding-top: 10px; padding-right: 45px; margin-left: 50px;">Select a Type:</h4>
            <select id="dropdown1">
                <option value="">All</option>
                <option value="Private">Private</option>
                <option value="Public">Public</option>
            </select>
        </div>
    </div>*@
@*<div class="container">
        <div class="row">
            <h4 style="padding-top: 10px; padding-right: 45px;">Select a Type:</h4>
            <select id="dropdown1">
                <option value="">All</option>
                <option value="Private">Private</option>
                <option value="Public">Public</option>
            </select>
        </div>
    </div>*@
@*    <div style="width:90%; margin:0 auto;">
        <table id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>Type</th>
                    <th>Address</th>
                </tr>
            </thead>
        </table>
    </div>*@
@*    <h3 style="height: 40px;padding-top: 20px;font-weight: bold;">
        Location
    </h3>*@
@*    <div class="text-center">
        <h3 style="padding-top: 20px; padding-right: 20px;font-weight: bold;">Find the distance between you and your favourite University: </h3>
        <h4 style="padding-top: 0px; padding-right: 20px;font-weight: bold;">The above Uni List might help</h4>
    </div>
    <div id="map" style="height:500px"></div>*@
@*    <p>Go Back:</p>
    <a href="/Home/UniGraph">
        <img src="~/img/arrow-pointing-left.png" alt="">
    </a>*@

@* Load datatable css *@
<link href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" rel="stylesheet" />
@* This is for the mapbox map. *@
<link href="~/css/mapbox-gl.css" rel="stylesheet" />
<link href="~/css/mapbox-gl-directions.css" rel="stylesheet" />
@* Load datatable and mapbox js *@
@section Scripts{
    <script src='~/js/mapbox-gl.js'></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="~/js/mapbox-gl-directions.js"></script>
    <script>
        function Clear() {
            var copyText = document.getElementById("myText");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            copyText.value = "";
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied" + copyText.value;
        }
        function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
        }
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "ajax": {
                    url: '../UniList/loaddata',
                    type: 'GET',
                    datatype: 'json'
                },
                deferRender: true,
                columns: [
                    { "data": "Name", "autoWidth": true },
                    { "data": "State", "autoWidth": true },
                    { "data": "Type", "autoWidth": true },
                    { "data": "Address", "autoWidth": true },
                    { "data": "Ranking", "autoWidth": true },
                    {
                        "data": "Website",
                        "bSortable": false,
                        "autoWidth": true,
                        "mRender": function (data, type, full) {
                            return '<a href=' + data + '>' + data + '</a>';
                        }
                    },
                ]
@*                ,columnDefs: [
                    {
                        targets: [3],
                        render: function (data) {
                            return '<a href="' + data + '" target_blank>' + data + '</a>'
                        }
                    }
                ]make the link itself can clickable to uni website*@
            });
            $('#dropdown').on('change', function () {
                table.columns(1).search(this.value).draw();
            });
            $('#dropdown1').on('change', function () {
                table.columns(2).search(this.value).draw();
            });
        });
        $(document).on("click", "#myTable td:nth-child(4)", function () {
            window.location.href = '#m';
            //alert($(this).text());
            var text = $('#myText');
            text.val(text.val() + $(this).text());
        });

        mapboxgl.accessToken = 'pk.eyJ1IjoieWxpdTAyMDMiLCJhIjoiY2sxc2l3d2N2MDN2dzNibXVwcGNuMnlvNSJ9.OchVPoP-iVNFCF8EbQkajA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [145.0424543, -37.8773989],
            zoom: 11
        });

        map.addControl(
            new MapboxDirections({
                accessToken: mapboxgl.accessToken
            }),
            'top-left'
        );
        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );
    </script>
}
