<div class="bradcam_area bradcam_bg_4" style="padding-bottom:100px; ">
    <div class="container">
        <div class="row" style="padding-bottom:80px;">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="margin-top: 50px;font-size:40px;">Navigation Map</h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p style="text-transform: none;">
                Don't know where university is?<br>
                Don't know what transportation you can use between university and your home location?<br>
                We will introduce useful navigation map tool to you.<br>
                Just type wherever you want to go and choose from the dropdown list, you'll get the recommended location.
            </p>
        </div>
    </div>
</div>
<div style="background-image: url('../../img/slider_background/sky.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover;height: auto;padding-bottom: 20px;">
    <div class="container" style="background: rgba(55, 108, 139,0.5);">
        <div class="about_area add_padding" style=" padding-top: 30px; ">
            <div class="container">
                <div class="border_1px" style="border-width:0px">
                    <div id="m" class="container" style="padding-top: 20px; padding-right: 50px; padding-left: 50px;">
                        <div class="text-center" style="margin-top: 20px;">
                            <h4 style="padding-top: 10px; padding-right: 20px; color: #e0f721; font-size: 25px;font-weight: bold;">Type the starting position in A</h4>
                            <h4 style="padding-top: 10px; padding-right: 20px; color: #e0f721; font-size: 25px;font-weight: bold;">Type any location in B</h4>
                            @*                            <h4 style="padding-top: 0px; padding-right: 20px;color:wheat;font-weight: bold;font-size: x-large;">Click above address of Uni List might help below copy function</h4>
        <input type="text" id="myText">
        <div class="tooltip1">
            <button onclick="Clear()" onmouseout="outFunc()" class="btn-primary">
                <span class="tooltiptext" id="myTooltip" style=" margin-left: 0px; margin-top: 0px; bottom: 0px; top: 40px; height: 30px; width: 150px;">Copy to clipboard</span>
                Copy location
            </button>
        </div>*@
                        </div>
                    </div>
                    <div id="map" style="height:500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@* This is for the mapbox map. *@
<link href="~/css/mapbox-gl.css" rel="stylesheet" />
<link href="~/css/mapbox-gl-directions.css" rel="stylesheet" />
@* Load datatable and mapbox js *@
@section Scripts{
    <script src='~/js/mapbox-gl.js'></script>
    <script src="~/js/mapbox-gl-directions.js"></script>
    <script>
@*        function Clear() {
            var copyText = document.getElementById("myText");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            copyText.value = "";
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied" + copyText.value;
        }*@
        @*function outFunc() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy to clipboard";
        }
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "ajax": {
                    url: '../UniList/loaddata',
                    type: 'GET',
                    datatype: 'json'
                },
                deferRender: true,
                columns: [
                    { "data": "Name", "autoWidth": true },
                    { "data": "State", "autoWidth": true },
                    { "data": "Type", "autoWidth": true },
                    {
                        "data": "Address",
                        "bSortable": false,
                        "autoWidth": true,
                        "mRender": function (data, type, full) {
                            return '<a class="btn-primary" style="color:#142ee2;background-color:white;" href=#/' + full[0] + '>' + data + '</a>';
                        }
                    },
                    { "data": "Ranking", "autoWidth": true }
                ]*@
@*                ,columnDefs: [
                    {
                        targets: [3],
                        render: function (data) {
                            return '<a href="' + data + '" target_blank>' + data + '</a>'
                        }
                    }
                ]make the link itself can clickable to uni website*@
            @*});
            $('#dropdown').on('change', function () {
                table.columns(1).search(this.value).draw();
            });
            $('#dropdown1').on('change', function () {
                table.columns(2).search(this.value).draw();
            });
        });*@
        @*$(document).on("click", "#myTable td:nth-child(4)", function () {
            window.location.href = '#m';
            //alert($(this).text());
            var text = $('#myText');
            text.val(text.val() + $(this).text());
        });
*@
        mapboxgl.accessToken = 'pk.eyJ1IjoieWxpdTAyMDMiLCJhIjoiY2sxc2l3d2N2MDN2dzNibXVwcGNuMnlvNSJ9.OchVPoP-iVNFCF8EbQkajA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [145.0424543, -37.8773989],
            zoom: 11
        });

        map.addControl(
            new MapboxDirections({
                accessToken: mapboxgl.accessToken
            }),
            'top-left'
        );
    </script>
}

